body {
  background-image: url('http://ignazio-castrogiovanni.com/codePen/wheaterBack.jpg');
}

h1 {
  font-family: 'Arvo';
  text-align: center;
}

p {
  font-family: 'Arvo';
  text-align: center;
}
